<div class="chat">
    <div class="chat__title">mensajes</div>
    <div class="chat__container">
        <div class="chat__item" *ngFor="let item of friendsList" (click)="navigateToConversation(item._id)">
            <div class="chat__item_profile">
                <svg *ngIf="item.user_2.uid != userToken.uid && !item.user_2.image" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                    viewBox="0 0 285.5 285.5" style="enable-background:new 0 0 285.5 285.5;" xml:space="preserve">
                    <g id="XMLID_791_">
                        <path id="XMLID_792_"
                            d="M142.75,125.5c34.601,0,62.751-28.149,62.751-62.75S177.351,0,142.75,0S79.999,28.149,79.999,62.75   S108.149,125.5,142.75,125.5z M142.75,30c18.059,0,32.751,14.691,32.751,32.75S160.809,95.5,142.75,95.5   s-32.751-14.691-32.751-32.75S124.691,30,142.75,30z" />
                        <path id="XMLID_795_"
                            d="M142.75,155.5c-63.411,0-115,51.589-115,115c0,8.284,6.716,15,15,15h200c8.284,0,15-6.716,15-15   C257.75,207.089,206.161,155.5,142.75,155.5z M59.075,255.5c7.106-39.739,41.923-70,83.675-70s76.569,30.261,83.675,70H59.075z" />
                    </g>
                </svg>
                <img *ngIf="item.user_2.uid != userToken.uid && item.user_2.image" [src]="item.user_2.image" alt="">
                <svg *ngIf="item.user_1.uid != userToken.uid && !item.user_1.image" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
                    viewBox="0 0 285.5 285.5" style="enable-background:new 0 0 285.5 285.5;" xml:space="preserve">
                    <g id="XMLID_791_">
                        <path id="XMLID_792_"
                            d="M142.75,125.5c34.601,0,62.751-28.149,62.751-62.75S177.351,0,142.75,0S79.999,28.149,79.999,62.75   S108.149,125.5,142.75,125.5z M142.75,30c18.059,0,32.751,14.691,32.751,32.75S160.809,95.5,142.75,95.5   s-32.751-14.691-32.751-32.75S124.691,30,142.75,30z" />
                        <path id="XMLID_795_"
                            d="M142.75,155.5c-63.411,0-115,51.589-115,115c0,8.284,6.716,15,15,15h200c8.284,0,15-6.716,15-15   C257.75,207.089,206.161,155.5,142.75,155.5z M59.075,255.5c7.106-39.739,41.923-70,83.675-70s76.569,30.261,83.675,70H59.075z" />
                    </g>
                </svg>
                <img *ngIf="item.user_1.uid != userToken.uid && item.user_1.image" [src]="item.user_1.image" alt="">
            </div>
            <div class="chat__item_container">
                <div class="chat__item_info" *ngIf="item.user_2.uid != userToken.uid">{{item.user_2.userName}}</div>
                <div class="chat__item_info" *ngIf="item.user_1.uid != userToken.uid">{{item.user_1.userName}}</div>
                <div class="chat__item_message" *ngIf="item.messages.length > 0">
                    <div *ngIf="userToken.uid == item.messages[item.messages.length -1].user">
                        Tu: {{item.messages[item.messages.length
                        -1].message}}</div>
                    <div *ngIf="userToken.uid != item.messages[item.messages.length -1].user">
                        {{item.messages[item.messages.length
                        -1].message}}</div>
                    <svg *ngIf="item.messages[item.messages.length
                    -1].multimedia.length >0" xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                        viewBox="0 0 24 24">
                        <path
                            d="M12 8c-2.168 0-4 1.832-4 4s1.832 4 4 4 4-1.832 4-4-1.832-4-4-4zm0 6c-1.065 0-2-.935-2-2s.935-2 2-2 2 .935 2 2-.935 2-2 2z" />
                        <path
                            d="M20 5h-2.586l-2.707-2.707A.996.996 0 0 0 14 2h-4a.996.996 0 0 0-.707.293L6.586 5H4c-1.103 0-2 .897-2 2v11c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V7c0-1.103-.897-2-2-2zM4 18V7h3c.266 0 .52-.105.707-.293L10.414 4h3.172l2.707 2.707A.996.996 0 0 0 17 7h3l.002 11H4z" />
                    </svg>
                </div>
                <div *ngIf="item.messages.length > 0" class="chat__item_date">{{ item.messages[item.messages.length -1].created_at | date :'short' }}
                </div>
            </div>
        </div>
    </div>
</div>