<div class="adoptionData">
  <div class="adoptionData__title">Preguntas de rutina</div>
  <div class="adoptionData__label_input">¿Por qué deseas adoptar?</div>
  <div class="adoptionData__input_box">
    <textarea></textarea>
  </div>
  <div class="adoptionData__label_input">¿Tienes o has tenido mascota?</div>
  <div class="adoptionData__radiobutton_container">
    Si <input type="radio" />
    NO <input type="radio" />
  </div>
  <div class="adoptionData__label_input">¿Hace cuánto tiempo?</div>
  <div class="adoptionData__input_box">
    <input />
  </div>
  <div class="adoptionData__label_input">¿Qué tipo de mascota?</div>
  <div class="adoptionData__input_box">
    <input />
  </div>
  <div class="adoptionData__label_input">¿Tu mascota fue esterilizada?</div>
  <div class="adoptionData__radiobutton_container">
    Si <input type="radio" />
    NO <input type="radio" />
  </div>
  <div class="adoptionData__label_input">¿Qué conocimientos tienes sobre el cuidado de mascotas?</div>
  <div class="adoptionData__input_box">
    <textarea></textarea>
  </div>
  <div class="adoptionData__label_input">¿Cuál sería el espacio en el que viviría la mascota?</div>
  <div class="adoptionData__input_box">
    <textarea></textarea>
  </div>
  <div class="adoptionData__label_input">¿Eres consiente de que la mascota requerirá un periodo de adaptación en el cual
    aprenderá a ir al baño, donde dormir y el resto de la rutina?</div>
  <div class="adoptionData__radiobutton_container">
    Si <input type="radio" />
    NO <input type="radio" />
  </div>
  <div class="adoptionData__label_input">¿Cuánto tiempo al día se quedaría la mascota sola en casa?</div>
  <div class="adoptionData__input_box">
    <input />
  </div>
  <div class="adoptionData__label_input">¿Cuentas con alguna persona que pueda cuidar a la mascota en caso de viaje o
    eventualidad?</div>
  <div class="adoptionData__radiobutton_container">
    Si <input type="radio" />
    NO <input type="radio" />
  </div>
  <div class="adoptionData__label_input">¿...?</div>
  <div class="adoptionData__input_box">
    <input />
  </div>
  <div class="adoptionData__label_input">¿...?</div>
  <div class="adoptionData__input_box">
    <input />
  </div>
  <div class="adoptionData__label_input">¿...?</div>
  <div class="adoptionData__input_box">
    <input />
  </div>
  <button class="adoptionData__footer_button">Guardar</button>
</div>